body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #f9f9f9;
  color: #333333;

  width: 980px;
  margin: 0 auto;
  text-align: center;
}
li{
  text-align: left;
  font-size: 25px;
}

p{
  text-align: left;
  font-size: 25px;
}

main>h2{
  font-size: 100px;
}



